doctype html
html(lang="ru")
  head
    title Редактировать продукт
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.app-container
      h1.page-title Редактировать продукт
      form.form-container(action=`/edit-pitanie/${product.id}` method="POST" enctype="multipart/form-data")
        .input-group
          label(for="name") Название:
          input#name.form-input(type="text" name="name" value=product.name required)
        .input-group
          label(for="vid") Вид:
          input#vid.form-input(type="text" name="vid" value=product.vid maxlength="100" required)
        .input-group
          label(for="brand") Бренд:
          input#brand.form-input(type="text" name="brand" value=product.brand maxlength="100" required)
        .input-group
          label(for="weight") Вес упаковки:
          input#weight.form-input(type="number" name="weight" value=product.weight step="0.01" required)
        .input-group
          label(for="description") Описание:
          textarea#description.form-input(name="description" rows="4")= product.description || ''
        .input-group
          label(for="price") Цена (₽):
          input#price.form-input(type="number" name="price" value=product.price step="0.01" required)
        .input-group
          label(for="in_stock") В наличии:
          input#in_stock.form-checkbox(type="checkbox" name="in_stock" checked=product.in_stock)
        .input-group
          label(for="image") Изображение:
          input#image.form-input(type="file" name="image" accept="image/*")
        .action-buttons
          button.btn-primary(type="submit") Сохранить изменения
          a.btn-secondary(href="/list-pitanie") Вернуться к списку
